<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Daftar Pegawai</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Data Karyawan/ti</a></li>
                <li class="breadcrumb-item">Data Pegawai</i></li>
                <li class="breadcrumb-item"><i class="mdi mdi-account-card-details"></i></li>
            </ol>
        </div>
        <div>
            <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                  <div class="table-responsive">

                      <?php if ($usr == true) { ?>
                        <?php foreach($usr as $usr1) : ?>

                          <?php if ($usr1['cek'] == 1) { ?>
                              DATA YANG ANDA CARI TIDAK DITEMUKAN DILAHKAN BLAB LALAAL
                           <?php } else {}?>
                        <?php endforeach; ?>
                         <?php } else { ?>
                           <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list footable-loaded footable" data-page-size="10">
                             <thead>
                                 <tr>
                                     <th class="footable-sortable">No<span class="footable-sort-indicator"></span></th>
                                     <th class="footable-sortable">NIP<span class="footable-sort-indicator"></span></th>
                                     <th class="footable-sortable">Nama<span class="footable-sort-indicator"></span></th>
                                     <th class="footable-sortable">Pangkat/Golongan<span class="footable-sort-indicator"></span></th>
                                     <th class="footable-sortable">Jabatan<span class="footable-sort-indicator"></span></th>
                                     <th class="footable-sortable">Status<span class="footable-sort-indicator"></span></th>
                                     <th class="footable-sortable">Action<span class="footable-sort-indicator"></span></th>
                                 </tr>
                             </thead>
                             <tbody>
                                 <tr class="footable-even" style="">
                                     <td><span class="footable-toggle"></span>1</td>
                                     <td><?= $usr1['nip']; ?></td>
                                     <td>
                                         <a href="javascript:void(0)"><img src="<?= base_url();?>assets/images/users/4.jpg" alt="user" width="40" class="img-circle"><?= $usr1['nama']; ?></a>
                                     </td>
                                     <td><?= $usr1['panggol']; ?></td>
                                     <td><span class="label label-danger"><?= $usr1['jabatan']; ?></span> </td>
                                     <td>Aktif</td>
                                     <td>
                                         <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
                                     </td>
                                 </tr>
                             </tbody>
                             <tfoot>
                                 <tr>
                                     <td colspan="2">
                                         <button type="button" class="btn btn-info btn-rounded" data-toggle="modal" data-target="#add-contact">Tambah Pegawai</button>
                                     </td>
                                     <div id="add-contact" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                         <div class="modal-dialog">
                                             <div class="modal-content">
                                                 <div class="modal-header">
                                                   <h4 class="modal-title" id="myModalLabel">Tambah Pegawai</h4>
                                                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                      </div>
                                                 <div class="modal-body">
                                                     <from class="form-horizontal form-material">
                                                         <div class="form-group">
                                                             <div class="col-md-12 m-b-20">
                                                                 <input type="text" class="form-control" placeholder="NIP"> </div>
                                                             <div class="col-md-12 m-b-20">
                                                                 <input type="text" class="form-control" placeholder="Nama"> </div>
                                                             <div class="col-md-12 m-b-20">
                                                                 <input type="text" class="form-control" placeholder="Pangkat/Golongan"> </div>
                                                             <div class="col-md-12 m-b-20">
                                                                 <input type="text" class="form-control" placeholder="Jabatan"> </div>
                                                             <div class="col-md-12 m-b-20">
                                                                 <input type="text" class="form-control" placeholder="Status"> </div>
                                                             <div class="col-md-12 m-b-20">
                                                                 <div class="fileupload btn btn-danger btn-rounded waves-effect waves-light"><span><i class="ion-upload m-r-5"></i>Upload Foto Pegawai</span>
                                                                     <input type="file" class="upload"> </div>
                                                             </div>
                                                         </div>
                                                     </from>
                                                 </div>
                                                 <div class="modal-footer">
                                                     <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Save</button>
                                                     <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancel</button>
                                                 </div>
                                             </div>
                                             <!-- /.modal-content -->
                                         </div>
                                         <!-- /.modal-dialog -->
                                       </div>
                                     <td colspan="7">
                                         <div class="text-right">
                                             <ul class="pagination"> </ul>
                                         </div>
                                     </td>
                                 </tr>
                             </tfoot>
                            </table>
                         <?php }?>



                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->

</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
